vti_encoding:SR|utf8-nl
http\://www.thetinchef.com/:history.html
http\://www.cc.gatech.edu:history.html
http\://www.cc.gatech.edu/~yannis/j-orchestra/jorch-position.pdf:papers.html
http\://w3studi.informatik.uni-stuttgart.de/~handtems/:history.html
http\://www.cloudgarden.com/jsapi/dnld_options.html:example_speech.html
http\://www.gatech.edu:history.html
../../../../../../jorch-web/haile.html:history.html
../../../../../../jorch-web/austin.html:history.html
http\://www.cc.gatech.edu/~yannis/:people.html history.html
http\://www.apache.org/:downloads.html
http\://http\://www.geocities.com/researchtriangle/node/2005/download/jsh.zip:example_shell.html
http\://www.cc.gatech.edu/~tilevich/:people.html history.html
http\://www.xilinx.com/:history.html
http\://www.cc.gatech.edu/~yannis/j-orchestra/ecoop2002.pdf:papers.html
http\://xml.apache.org/xerces2-j/index.html:downloads.html
resources/pptcontroller.jar:example_ppt.html
http\://cgi.cc.gatech.edu/utils/count.glob.pl:nav.htm
http\://jakarta.apache.org/bcel/:downloads.html
http\://www.apache.org/license-1.1:downloads.html
http\://java.sun.com/products/plugin/1.3.1_01a/demos/applets/clock/example1.html:example_clock1.html
http\://www.geocities.com/researchtriangle/node/2005/java_shell.htm:example_shell.html
