vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.
vti_navbuttonuplabel:SR|Nach oben
vti_ignorekeyboard:IR|0
vti_dependenciesood:IR|0
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|FrontPage DBW
vti_webservertype:SR|diskweb
vti_navbuttonnextlabel:SR|Weiter
vti_categories:VR|Reisen Kostenabrechnung Geschäftlich Wettbewerb Ziele Ideen Verschiedenes Inaktiv VIP In\\ Bearbeitung Planung Zeitplan
vti_timecreated:TR|28 May 2003 23:46:28 -0000
vti_extenderversion:SR|6.0.2.4920
vti_navbuttonprevlabel:SR|Zurück
vti_approvallevels:VR|Genehmigt Abgelehnt Prüfung\\ läuft
vti_oldestcompatibleversion:SR|2.0.0.0
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_restartmanual:IX|0
vti_defaultlanguage:SR|de
vti_defaultcharset:SR|windows-1252
vti_encoding:SR|utf8-nl
vti_approvalapproved:SR|Genehmigt
vti_approvaldenied:SR|Abgelehnt
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_disableautoimgsizeexts:SX|.asp
vti_showhiddenpages:IR|1
vti_insecureserverurl:SR|file://
